{% extends 'base.html.twig' %}

{% block title %}Registro Digital - Alta Datos Académicos {% endblock %}

{% block body %}
{{parent()}}
<h1 class = "text-center">Alta datos académicos</h1> 
<div class ="container" id = "divFormulario">
    {{ form_start(formulario, {'enctype':'multipart/form-data'})}}
    <div class = "row mt-4 justify-content-center">
        <div class = "col-sm-6">
            <h6 class = "text-secondary text-left ml-1 ">Denominación de la carrera</h6>
            {{ form_widget(formulario.denominacionCarrera, {attr: {class: 'form-control camposEstandar carrera', placeholder: 'Carrera'}})}}
        </div>
        <div class = "col-sm-1"></div>
        <div class = "col-sm-4">
            <h6 class = "text-secondary text-left ml-1 ">Tipo de documento emitido</h6>
            {{ form_widget(formulario.documentoEmitido, {attr: {class: 'form-control camposEstandar', placeholder: 'Documento Emitido'}})}}
        </div>
    </div>
    <div class = "row mt-4 justify-content-center">
        <div class = "col-sm-6">
            <h6 class = "text-secondary text-left ml-1 ">Título otorgado</h6>
            {{ form_widget(formulario.tituloOtorgado, {attr: {class: 'form-control camposEstandar', placeholder: 'Titulo Otorgado'}})}}
        </div>
        <div class = "col-sm-1"></div>
        <div class = "col-sm-4">
            <h6 class = "text-secondary text-left ml-1 ">Seleccionar</h6>
            {{ form_widget(formulario.originalDuplicado, {attr: {class: 'form-control camposEstandar ', placeholder: 'Titulo Otorgado'}})}}
        </div>
    </div>
    <div class = "row mt-4 justify-content-center">
        <div class = "col-sm-3">
            <h6 class = "text-secondary text-left ml-1 "> Fecha de egreso </h6>
            {{ form_widget(formulario.fechaEgreso, {attr: {class: 'form-control camposEstandar', style: 'cursor: text;'}})}}
        </div>
        <div class = "col-sm-8"></div>
        <div class = "col-sm-8"></div>
    </div>
    <div class = "container mt-4 ">
        
    </div>
    <div class = "container mt-5 text-center">
        {{ form_widget(formulario.Siguiente, {attr: {class: 'btn btn-outline-info btn-lg'}})}}
    </div>
    {{ form_end(formulario) }}
</div>
<br>
<br>
{% endblock %}