{% extends 'base.html.twig' %}

{% block title %}Registro Digital - Modificar Archivos{% endblock %}

{% block body %}
{{parent()}}
<h1 class = "text-center">Modificar archivos cargados de: {{egresado.nombre}} {{egresado.apellido}}</h1> 
<div class = "container" id= "divFormulario">
    <a href = "{{path('verEgresados')}}"><i class="fas fa-arrow-left grow" style = "font-size:30px; color: #0F9FA8"></i></a>
    {{ form_start(formulario, {'enctype':'multipart/form-data'})}}
    <div class = "row mt-5 justify-content-center">
        <div class = "col-lg-4 p-5 text-center" id="divFormulario">
            {% if pdf != null %}
                
                <h6 class = " text-center text-info" >Certificado Analítico<h6>
                <ul class = "mt-5">
                    <li>
                        <div class="row justify-content-center m-3">
                            <img class="img-responsive border" data-pdf-thumbnail-file="{{("https://intranet.unraf.edu.ar/RegistroDigital/uploads/pdfsAnalitico/" ~ egresado.pdfAnalitico)}}" src="{{asset('svg/pdf2.png')}}" width="60%" alt="PDF">
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-secondary grow" href="{{ path('verPDF', {'id': egresado.id}) }}"><i class="fas fa-eye"></i></a>
                            <a class = "btn btn-secondary grow" href = "{{asset('uploads/pdfsAnalitico/' ~ pdf )}} " download ="{{'pdfAnalitico de ' ~ egresado.nombre ~ ' ' ~ egresado.apellido }}"><i class="fas fa-download"></i></a>
                            <a class = "btn btn-secondary text-white grow" onclick="DeletePDF({{egresado.id}})" ><i class="fas fa-trash"></i></a>
                        </div>  
                    </li>
                </ul>
            {% else %}
                <h6 class = "text-center" style = "font-size: 15px;">*No hay pdf cargado</h6>
                <div class="container">
                    {{form_widget (formulario.pdfAnalitico , { attr : {class: 'text-center' , style: 'color: #0F9FA8' ,accept : ' application / .pdf' }})}}
                </div>
            {% endif %}
        </div>
        <div class = "col-lg-8 p-5 text-center"  id="divFormulario">
            <h6 class = "text-info text-center">{{imagenes|length}} de 5 imágenes cargadas<h6>
            <div class="row mt-5">
                {% for imagen in imagenes %}
                    <div class="card col-4 col-md-3 py-3">
                        <img src="{{asset('uploads/imagenesDigitales/' ~ imagen.nombreArchivo )}}" class="card-img-top m-2" alt="...">
                        <div class="card-body p-0 m-0 g-0 ">
                            <div class="btn-group mw-100 " role="group">
                                <a class="btn btn-secondary" href="{{ path('verImagen', {'nombreImagen': imagen.nombreArchivo})}}"><i class="fas fa-eye "></i></a>
                                <a class = "btn btn-secondary"  href = "{{asset('uploads/imagenesDigitales/' ~ imagen.nombreArchivo )}} " download ="{{egresado.nombre ~ ' ' ~ egresado.apellido ~ ' ' ~ 'imagenDigital'}}"><i class="fas fa-download "></i></a>
                                <a class = "btn btn-secondary text-white" onclick="DeleteImagen({{imagen.id}},{{egresado.id}})" ><i class="fas fa-trash "></i></a>
                            </div>
                        </div>
                    </div>
            {% endfor %}
            </div>
            
            {% if imagenes|length < 5 %}
                {{form_widget ( formulario.archivosArray , { attr : { class: 'text-center' , style: 'color: #0F9FA8;' , accept : 'application / .jpg , .png, .pdf, .jpeg'  }})}}    
            {% endif %}
        </div>
    </div>

     <div class = "container mt-5 text-center">
        {{ form_widget(formulario.Aceptar, {attr: {class: 'btn btn-outline-info btn-lg'}})}}
    </div>
</div>
<br>
<script src = "{{asset('js/deleteArchivos.js')}}"></script>
{% endblock %}
