
{% extends 'base.html.twig' %}

{% block title %}Registro Digital - Ver Titulaciones{% endblock %}

{% block body %}
{{parent()}}
<div class = "container-fluid">
    {{ form_start(formulario, {'enctype':'multipart/form-data'})}}
    <div class = "container row mt-3">
        <div class = "col-sm-7 media">
            {{ form_widget(formulario.buscar, {attr: {class: 'form-control campoForm' , placeholder: 'Buscar por apellido o por DNI'} }) }}  
            {{ form_widget(formulario.Buscar, {attr: {class: 'btn btn-buscar d-inline'} }) }}  
        </div>
        <div class = "col-sm-3"></div>
        <div class = "col-sm-2">
            <a class = "btn form-control campoForm nueva" style = "background-color: #; color: white;" href = "{{path('altaDatosPersonales')}}">Nueva titulación</a>
        </div>
    </div>
    <hr>
    <div class = "m-3">
        <b style = "color: #0F9FA8;">Cantidad de titulaciones cargadas: {{egresados|length}} </b>
    </div>
    {{ form_end(formulario) }}
    

    {# Esto es el filtro de busqueda, lo dejo comentado por si las dudas #}
    {# <div class="">
        {{ form_start(formulario, {'enctype':'multipart/form-data'})}}
        <div style="text-align:center;" class="container-fluid">
            <h3 style="color:#306086">Busqueda de titulaciones</h3>
        </div>
        <div class="container row mt-3">
            
            <div class="col-sm-6">
                {{ form_widget(formulario.buscar, {attr: {class: 'form-control',placeholder: 'Busque según el filtro aplicado'} }) }}  
            </div>
            <div class="col-sm-4">
                {{ form_widget(formulario.filtrarPor, {attr: {class: 'form-control'} }) }}  
            </div>
            <div class = "col-sm-2">
                {{ form_widget(formulario.Buscar, {attr: {class: 'btn btn-outline-info ml-5'} }) }}  
            </div>
        </div>
        <hr>
        <div class = "m-3">
            <b style = "color:#306086">Cantidad de titulaciones cargadas: {{egresados|length}} </b>
            <a class = "btn btn-outline-info ml-5 "  href = "{{path('altaDatosPersonales')}}">Nueva titulación</a>
        </div>
        {{ form_end(formulario) }}
    </div> #}
    <table class="table table-borderless mt-2">
            <thead class = "text-white" style = "background-color: #0F9FA8;">
                    <th>Nº registro</th>
                    <th>Apellido</th>
                    <th>Nombre</th>
                    <th>Nº documento</th>
                    <th style="text-align: center;">Datos Egresado</th>
                    <th style="text-align: center;">Archivos</th>
                    <th style="text-align: center;">Generar PDF</th>
                    <th style="text-align: center;">Eliminar</th>
                </tr>
            </thead>
        
        <tbody id="myTable">
            {% for egresado in egresados %}
            <tr>
                <th class = "pl-3">{{egresado.id}}</th>
                <td>{{egresado.apellido}}</td>
                <td>{{egresado.nombre}}</td>
                <td>{{egresado.dni}}</td>
            {% if  is_granted('ROLE_SUPERADMIN') or is_granted('ROLE_ADMIN') %}
                <td style="text-align: center;">
                    <a class ="btn grow" href="{{path('modificarDatosPersonales', {'id': egresado.id})}}"><i class="fas fa-user-edit mb-3" data-toggle="tooltip" data-placement="left" data-html="true" title="Modificar datos personales" style = "font-size: 20px;color: #0F9FA8;"></i></a>
                    <a class ="btn grow" href="{{path('modificarDatosAcademicos', {'id': egresado.id})}}"><i class="fas fa-user-graduate mb-3"  data-toggle="tooltip" data-placement="bottom" data-html="true" title="Modificar datos academicos" style = "font-size: 20px;color: #0F9FA8;"></i></a>
                    <a class ="btn grow" href="{{path('modificarDatosAdministrativos', {'id': egresado.id})}}"><i class="fas fa-user-cog mb-3"  data-toggle="tooltip" data-placement="right" data-html="true" title="Modificar datos administrativos" style = "font-size: 20px; color: #0F9FA8;" ></i></a>
                </td>
                <td style="text-align: center;"><a class ="btn grow" href="{{path('modificarArchivos', {'id': egresado.id})}}"><i class="fas fa-file-alt mb-3"  data-toggle="tooltip" data-placement="right" data-html="true" title="Modificar archivos" style = "font-size: 20px; color: #FEB413;"></i></a></td>
                <td style="text-align: center;"><a class ="btn grow" href="{{path('generatePdf', {'id': egresado.id})}}"><i class="fas fa-file-pdf mb-3"  data-toggle="tooltip" data-placement="right" data-html="true" title="Generar PDF" style = "font-size: 20px; color: #306086;"></i></a></td>
                <td style="text-align: center;"><a class ="btn grow" onclick="DeleteFunction({{egresado.id}})"><i class=" fas fa-trash text-danger" style = "font-size: 20px;"></i></a></td>   
            {% else %}
                <td style="text-align: center;">
                    <a class ="btn grow" href="#"><i class="fas fa-user-edit mb-3" style = "font-size: 20px;color: grey;" data-toggle="tooltip" data-placement="left" data-html="true" title="No tiene el rol necesario para esta acción"></i></a>
                    <a class ="btn grow" href="#"><i class="fas fa-user-graduate mb-3"   style = "font-size: 20px;color: grey;" data-toggle="tooltip" data-placement="left" data-html="true" title="No tiene el rol necesario para esta acción"></i></a>
                    <a class ="btn grow" href="#"><i class="fas fa-user-cog mb-3" style = "font-size: 20px; color: grey;"data-toggle="tooltip" data-placement="left" data-html="true" title="No tiene el rol necesario para esta acción" ></i></a>
                </td>
                <td style="text-align: center;"><a class ="btn grow" href="#"><i class="fas fa-file-alt mb-3" style = "font-size: 20px; color: grey" data-toggle="tooltip" data-placement="left" data-html="true" title="No tiene el rol necesario para esta acción"></i></a></td>
                <td style="text-align: center;"><a class ="btn grow" href="#"><i class="fas fa-file-pdf mb-3" style = "font-size: 20px; color: grey" data-toggle="tooltip" data-placement="left" data-html="true" title="No tiene el rol necesario para esta acción"></i></a></td>
                <td style="text-align: center;"><a class ="btn grow" onclick="#"><i class=" fas fa-trash"   style = "font-size: 20px; color:grey;" data-toggle="tooltip" data-placement="left" data-html="true" title="No tiene el rol necesario para esta acción"></i></a></td>    
            {% endif %}
                
            </tr>
        
            {% endfor %}
        </tbody>

    </table> 
</div>
{% endblock %}
{% block  javascripts %}
{{parent()}}
<script src= "{{asset('js/deleteEgresado.js')}}"></script> 
<script src = "{{asset('js/popup.js')}}"></script>
{% endblock %}