{% extends 'base.html.twig' %}

{% block title %}Registro Digital - Ver Documentos{% endblock %}

{% block body %}
{{parent()}}
<div class = "container-fluid">
    {{ form_start(formulario, {'enctype':'multipart/form-data'})}}
    <div class = "container row">
        <div class = "col-sm-1">
            <a class = "" href = "{{path('datosAcademicos')}}"><i class="fas fa-arrow-left grow" title = "Volver a ver secciones" style = "font-size:30px;color: #0F9FA8; margin-top: 5px;"></i></a>
        </div>
        <div class = "col-sm-6 media">
            {{ form_widget(formulario.buscar, {attr: {class: 'form-control campoForm' , placeholder: 'Buscar por tipo de documento..'} }) }}  
            {{ form_widget(formulario.Buscar, {attr: {class: 'btn btn-buscar d-inline'} }) }}  
        </div>
        <div class = "col-sm-3"></div>
        <div class = "col-sm-2">
            <a class = "btn form-control campoForm nueva" style = "background-color: #; color: white;" href = "{{path('altaDocumentos')}}">Nuevo doc.</a> 
        </div>
    </div>
    <hr>
    <div class = "m-3">
        <b style = "color: #0F9FA8;">Cantidad de documentos creados hasta el momento: {{documentos|length}} </b>
    </div>
    {{ form_end(formulario) }}
    <table class="table table-borderless">
        <thead>
                <tr style = "background-color: #0F9FA8;">
                <th>Nro</th>
                <th>Tipo de documentos</th>
                <th style="text-align: center;">Editar</th>
                <th style="text-align: center;">Eliminar</th>
            </tr>
        </thead>
        <tbody >
            {% for documento in documentos %}
            <tr>
                <th>{{ loop.index }}</th>
                <td>{{documento.tipoDocumento}}</td>
                <td style="text-align: center;"><a class ="btn grow" href="{{path('modificarDocumentos', {'id': documento.id})}}" ><i class="far fa-edit text-success" style = "font-size: 20px;"></i></a></td>
                <td style="text-align: center;"><a class = "btn grow" onclick="DeleteFunction({{documento.id}})"><i class=" fas fa-trash text-danger"   style = "font-size: 20px"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table> 
</div>
<script src = "{{asset('js/deleteDocumentos.js')}}"></script>
{% endblock %}
