{% extends 'base.html.twig' %}

{% block title %}Registro Digital - Ver Documentos{% endblock %}

{% block body %}
{{parent()}}
<div class = "container-fluid">
    <div class="bordeSombreado  divBuscar">
        {{ form_start(formulario, {'enctype':'multipart/form-data'})}}
        <div class="row">
            <div class="col-sm-6">
                <h6 class = "text-center" style="color:#306086">Búsqueda</h6>
                <div class = "media">
                    {{ form_widget(formulario.buscar, {attr: {class: 'form-control',placeholder: 'Buscar por nombre...'} }) }}  
                    {{ form_widget(formulario.Buscar, {attr: {class: 'btn btn-buscar'} }) }} 
                </div>
            </div>
            <div class="col-sm-6">
                <h6 style="color:#306086" class = "text-center">Cargar documento </h6>
                <div class = "text-center">
                    <a class = "btn botonCeleste ancho text-white grow text-center" style = "" href = "{{path('altaDocumentos')}}">Nuevo doc.</a>
                </div>
            </div>
        </div>
        <br>
        {{ form_end(formulario) }}
        <div class = "m-2">
            <b style = "color: #0F9FA8;">Cantidad de documentos encontrados: {{documentos|length}} </b>
        </div>
    </div> 
    <br>
    <table class="table table-borderless">
        <thead  class = "text-white">
                <tr style = "background-color: #0F9FA8;">
                <th>Nro</th>
                <th>Tipo de documentos</th>
                <th style="text-align: center;">Editar</th>
                <th style="text-align: center;">Eliminar</th>
            </tr>
        </thead>
        <tbody >
            {% for documento in documentos %}
            <tr>
                <th>{{ loop.index }}</th>
                <td>{{documento.tipoDocumento}}</td>
                <td style="text-align: center;"><a class ="btn grow" href="{{path('modificarDocumentos', {'id': documento.id})}}" ><i class="far fa-edit text-success" style = "font-size: 20px;"></i></a></td>
                <td style="text-align: center;"><a class = "btn grow" onclick="DeleteFunction({{documento.id}})"><i class=" fas fa-trash text-danger"   style = "font-size: 20px"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table> 
</div>
<script src = "{{asset('js/deleteDocumentos.js')}}"></script>
{% endblock %}
