
{% extends 'base.html.twig' %}

{% block title %}Registro Digital - Datos Academicos{% endblock %}

{% block body %}
{{parent()}}
<h1 class = "text-center">¿Que datos académicos desea modificar?</h1>
<div class = "container list-group"  id = "divFormulario">
    
    <div class = "container mt-2 divDatosAcademicos" >
        <input type = "button" value = "Denominación de las carreras" id = "idCarreras" class="list-group-item list-group-item-action datosAcademicos">
        <div  class = "container mt-1 divDatosAcademicosInt" id = "modificacionesCarrera">
            {# <a href="{{path('altaCarreras')}}" class="list-group-item list-group-item-action datosAcademicosInt" id = "acciones">Alta Carreras</a> #}
            <a href="{{path('verCarreras')}}" class="list-group-item list-group-item-action mt-1 datosAcademicosInt" id = "acciones">Ver/Modificar Carreras</a>
        </div>
    </div>
    <div class = "container mt-2 divDatosAcademicos">
        <input type = "button" value = "Tipo de documento emitido" id = "idDocumentos" class="list-group-item list-group-item-action datosAcademicos">
        <div class = "container mt-1 divDatosAcademicosInt" id = "modificacionesDocumentos">
            {# <a href="{{path('altaDocumentos')}}" class="list-group-item list-group-item-action datosAcademicosInt" id = "acciones">Alta Documentos</a> #}
            <a href="{{path('verDocumentos')}}" class="list-group-item list-group-item-action mt-1 datosAcademicosInt"  id = "acciones">Ver/Modificar Documentos</a>
        </div>
    </div>
    <div class = "container mt-2 divDatosAcademicos" >
        <input type = "button" value = "Título otorgado" id = "idTitulos" class="list-group-item list-group-item-action datosAcademicos">
        <div class = "container mt-1 divDatosAcademicosInt" id = "modificacionesTitulos">
            {# <a href="{{path('altaTitulos')}}" class="list-group-item list-group-item-action datosAcademicosInt" id = "acciones">Alta Titulos</a> #}
            <a href="{{path('verTitulos')}}" class="list-group-item list-group-item-action mt-1 datosAcademicosInt" id = "acciones">Ver/Modificar Titulos</a>
        </div>
    </div>
   
  
</div>
<br>
<br>
{% endblock %}
