{% extends 'base.html.twig' %}

{% block title %}Registro Digital - Inicio{% endblock %}

{% block body %}
{{parent()}}
<div class=" goma container-fluid ">
    <div  class = "text-center">
        <h1 class="text-center d-inline " style = "color: gray; opacity: 0.5;"> Home</h1>
        <img class="img-fluid iconoHome" style="margin-bottom: 15px;" width= "45" src="{{asset('img/icon.png')}}" />
    </div>
    {# DIV DE TABLAS #}
    <div class = "media p-3">
        <div class="container info-div">
            <div class="info-title text-center">
                <i class="color-unraf-light fas fa-graduation-cap i-width"></i>
                <h2 class="color-unraf-light d-inline">Últimos/as graduados/as cargadas</h2>
            </div>
            {% for graduado in graduados %}
            <div class="card border-info m-2 cartas">
                <div class="card-body">
                    <div>
                        <b style="color:#306086">Nombre y apellido:</b>
                        <p class="card-text">{{graduado.nombre}} {{graduado.apellido}}</p>
                    </div>
                    <div class = "mt-2">
                        <b style="color:#306086">Documento de identidad (tipo y Nº):</b>
                        <p class="card-text">{{graduado.tipoDocumentoIdentidad}} - {{graduado.documentoIdentidad}}</p>
                    </div>
                    <div class = "mt-2">
                        <b style="color:#306086">Lugar de nacimiento:</b>
                        <p class="card-text">{{graduado.ciudad}} - {{graduado.provincia}}</p>
                    </div>
                </div>
                <div class="card-footer text-right  border-info">
                    <small class="text-muted">Cargado el día: {{graduado.fechaCreacion|date("d/m/Y")}}</small>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="container info-div">
            <div class="info-title text-center">
                <i class="color-unraf-yellow fas fa-graduation-cap i-width"></i>
                <h2 class="color-unraf-yellow d-inline">Últimas titulaciones cargadas</h2>
            </div>
            {% for egresado in egresados %}
            <div class="card border-warning m-2 cartas">
                <div class="card-body">
                    <div>
                        <b style="color:#306086">Nombre y apellido:</b>
                        <p class="card-text">{{egresado.nombre}} {{egresado.apellido}}</p>
                    </div>
                    <div class = "mt-2">
                        <b style="color:#306086">Documento de identidad (tipo y Nº):</b>
                        <p class="card-text">{{egresado.tipoDocumentoIdentidad}} - {{egresado.dni}}</p>
                    </div>
                    <div class = "mt-2">
                        <b style="color:#306086">Lugar de nacimiento:</b>
                        <p class="card-text">{{egresado.ciudad}} - {{egresado.provincia}}</p>
                    </div>
                </div>
                <div class="card-footer text-right  border-warning">
                    <small class="text-muted">Cargado el día: {{egresado.fechaCreacion|date("d/m/Y")}}</small>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
<br>
<br>

{% endblock %}
