{% extends 'base.html.twig' %}

{% block title %}Registro Digital - Alta Carrera{% endblock %}

{% block body %}
{{parent()}}
<h1 class = "text-center">Alta Carrera</h1> 
<div class ="container " id = "divFormulario">
    <a class = ""href = "{{path('verCarreras')}}"><i class="fas fa-arrow-left grow" title ="Volver a ver todas las carreras" style = "font-size:30px; color: #0F9FA8;"></i></a>
    
    {{ form_start(formulario, {'enctype':'multipart/form-data'})}}
    <div class = "row mt-4 justify-content-center" >
        <div class = "col-sm-3"></div>
        <div class = "col-sm-6">
            {{ form_widget(formulario.nombreCarrera, {attr: {class: 'form-control camposEstandar  academicos', placeholder: 'Carrera'}})}}
        </div>
        <div class = "col-sm-3"></div>
    </div>
    <div class = "container mt-5 text-center">
        {{ form_widget(formulario.Aceptar, {attr: {class: 'btn btn-outline-info btn-lg'}})}}
    </div>
    {{ form_end(formulario) }}
</div>
{% endblock %}
