{% extends 'base.html.twig' %}

{% block title %}Registro Digital - Titulaciones Graduado/a{% endblock %}

{% block body %}
{{parent()}}
<h1 class = "text-center" >Alta titulaciones graduado/a</h1>
<div class = "container" id = "divFormulario"> 
    {{ form_start(formulario, {'enctype':'multipart/form-data'})}}
    
        {# ESTO LO COMENTE PORQUE NO ES NECESARIO DIRECTAMENTE EDITAR DESDE ABAJOOOOOOOOOOOOOOOOOOOOOOO #}
        {# <div class = "col-sm-8">
            <h6 class = "text-secondary text-left ml-1  ">Nombre completo del título obtenido por el/la graduado/a</h6> 
            {{ form_widget(formulario.titulo, {attr: {class: 'form-control camposEstandar', placeholder: 'Título obtenido'}})}}
        </div>
        <div class = "col-sm-1"></div>
        <div class = "col-sm-3">
            <h6 class = "text-secondary text-left ml-1  ">Fecha egreso</h6> 
            {{ form_widget(formulario.fechaEgreso, {attr: {class: 'form-control camposEstandar', placeholder: 'Título obtenido'}})}}
        </div>            
    </div>
    <div class = "container row mt-4 justify-content-center">
        <div class = "col-sm-3">
            <h6 class = "text-secondary text-left ml-1  ">Nº resolución ministerial</h6> 
            {{ form_widget(formulario.nroME, {attr: {class: 'form-control camposEstandar', placeholder: 'Nº ME'}})}}
        </div>
        <div class = "col-sm-3">
            <h6 class = "text-secondary text-left ml-1  ">Nº de resolución UNRaf</h6> 
            {{ form_widget(formulario.nroUnraf, {attr: {class: 'form-control camposEstandar', placeholder: 'Nº ME'}})}}
        </div>            
        <div class = "col-sm-6"></div>
    </div>
    <div class = "text-center m-4">
        <button class = "btn btn-outline-info" type="button"  onclick="mostrarMas()">¿Desea agregar otra titulación para el/la egresado/a?</button>
    </div> #}
    <div id = "">
        <div class = "row justify-content-center">
            <div class = "col-sm-6">
                <ul style="list-style:none;" class="titulacion" data-prototype="{{form_widget(formulario.titulaciones.vars.prototype)|e('html_attr') }}">
                    <li data-collection-holder-class="titulacion">{{ form_widget(formularioTitulacion)}}</li>
                    <h6 class = "text-center text-secondary mt-2">Fecha Egreso</h6>
                    <br>
                </ul>
            </div>
        </div>
        
        <div class ="text-right">
            <button type="button" class="add_item_link btn btn-outline-info text-center" data-collection-holder-class="titulacion">Agregar otra titulación</button>
        </div>
    </div>
    <div class = "container mt-4 text-center">
        {{ form_widget(formulario.Aceptar, {attr: {class: 'btn btn-outline-info btn-lg'}})}}
    </div>
    {{ form_end(formulario)}}
</div>
<br>
{% endblock %}
{% block javascripts %}
        {{parent()}}
        <script src = "{{asset('js/integrarForm.js')}}"></script>
        
{% endblock %}
