{% extends 'base.html.twig' %}

{% block title %}Registro Digital - Ver Graduados/as{% endblock %}

{% block body %}
{{parent()}}
<div class = "container-fluid">
    <div class="bordeSombreado  divBuscar">
        {{ form_start(form, {'enctype':'multipart/form-data'})}}
        <div class="row">
            <div class="col-sm-6">
                <h6 class = "text-center" style="color:#306086">Búsqueda</h6>
                <div class = "media">
                    {{ form_widget(form.buscar, {attr: {class: 'form-control',placeholder: 'Buscar por apellido...'} }) }}  
                    {{ form_widget(form.Buscar, {attr: {class: 'btn btn-buscar'} }) }} 
                </div>
            </div>
            <div class="col-sm-6">
                <h6 style="color:#306086" class = "text-center">Cargar graduado/a </h6>
                <div class = "text-center">
                    <a class = "btn botonCeleste ancho text-white grow text-center" style = "" href = "{{path('datosPersonalesGraduado')}}">Nuevo graduado/a</a>
                </div>
            </div>
        </div>
        <br>
        {{ form_end(form) }}
        <div class = "m-2">
            <b style = "color: #0F9FA8;"> Cantidad de graduados/as cargadas: {{graduados|length}} </b>
        </div>
    </div> 
    <br>
    <table class="table table-borderless mt-2">
            <thead class = "text-white" style = "background-color: #0F9FA8;">
                    <th>Nº</th>
                    <th>Apellido</th>
                    <th>Nombre</th>
                    <th style="text-align: center;">Datos Graduado</th>
                    <th style="text-align: center;">Imagen TED</th>
                    <th style="text-align: center;">Eliminar</th>
                </tr>
            </thead>
        
        <tbody id="myTable">
            {% for graduado in graduados %}
                <tr>
                    <th class = "pl-3">{{graduado.id}}</th>
                    <td>{{graduado.apellido}}</td>
                    <td>{{graduado.nombre}}</td>
                    <td style="text-align: center;">
                        <a class ="btn grow" href="{{path('modificarDatosPersonalesGraduado', {'id': graduado.id})}}"><i class="fas fa-user-edit mb-3" data-toggle="tooltip" data-placement="left" data-html="true" title="Modificar datos personales" style = "font-size: 20px;color: #0F9FA8;"></i></a>
                        <a class ="btn grow" href="{{path('verTitulacionesGraduado', {'id': graduado.id})}}"><i class="fas fa-user-graduate mb-3"  data-toggle="tooltip" data-placement="bottom" data-html="true" title="Modificar titulos obtenidos" style = "font-size: 20px;color: #0F9FA8;"></i></a>
                    </td>
                    <td style="text-align: center;"><a class ="btn grow" href="{{path('modificarImagenGraduado', {'id': graduado.id})}}"><i class="fas fa-file-alt mb-3"  data-toggle="tooltip" data-placement="right" data-html="true" title="Modificar imagen TED" style = "font-size: 20px; color: #FEB413;"></i></a></td>
                    <td style="text-align: center;"><a class ="btn grow" onclick="DeleteGraduado({{graduado.id}})"><i class=" fas fa-trash text-danger" style = "font-size: 20px;"></i></a></td> 
                </tr>
            {% endfor %}
        </tbody>

    </table> 
</div>
{% endblock %}
{% block  javascripts %}
{{parent()}}
<script src= "{{asset('js/deleteGraduado.js')}}"></script> 
<script src = "{{asset('js/popup.js')}}"></script>
{% endblock %}
