<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Novedades - UNRaf{% endblock %}</title>
        {% block stylesheets %}
            <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
            <link href="{{ asset("css/estilosB.css") }}" rel="stylesheet" type="text/css">
            <link href="{{ asset("css/estiloBase.css") }}" rel="stylesheet" type="text/css">
            <link href="{{ asset("css/estilos.css") }}" rel="stylesheet" type="text/css">
            <link href="{{ asset("css/datatable.css") }}" rel="stylesheet" type="text/css">
            <link rel="icon" href="{{ asset("img/iconoUnraf.png") }}">
        {% endblock %}
    </head>
    <body> 
    {% block body %}
    {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPERADMIN') %}
    <div id="wrapper" class="animate">

        <nav class="navbar header-top fixed-top navbar-expand-lg ">


            {# Boton responsive #}
            <span class="ml-2 navbar-toggler-icon leftmenutrigger" id = "rayitas"><i class="fas fa-bars text-info" style="font-size: 25px;"></i></span>

            {# Boton desplegable #}
            <button class=" navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fas fa-bars text-info" style="font-size: 25px;"></i></span>
            </button>

            {# Título del sistema #}
            <ul class="navbar-nav ml-md-auto">
                <a style="margin-left: 10px;margin-top:5px;" class="navbar-brand  color-unraf-light grow" href="{{path('menuPrincipal')}}">Registro Digital</a>  
            </ul>
     
            {# Div oculto #}
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav animate side-nav " style = "background: #f5f5f5;">

                    {# Parte del perfil #}
                    {# <div class="container-fluid perfil">

                        <div class="media perfil-p"> #}
                        
                            {# Imágen de unraf con border radius #}
                            {# <img class="perfil-img" src="{{asset('img/iconoUnraf.png')}}"></img> #}

                            {# email #}
                            {# <p class="perfil-email text-secondary">{{ app.user.email|replace({'@unraf.edu.ar': ''})}}</p>
                        </div>
                    <hr>
                    </div> #}
                    
                    {# Home #}
                    <li id="menuDocumento" class="nav-item perfil-p ">
                        <a class="nav-link" href="{{path('menuPrincipal')}}"><button class="btn perfil-btn-light" ><i class="fas fa-home" style = "color: #0F9FA8;"></i></button>Inicio</a>
                    </li>


                    {% if is_granted('ROLE_ADMIN') %}
                    {# Titulaciones de egresados #}
                    <li id="menuDocumento" class="nav-item perfil-p mt-2">
                        <a class="nav-link " href="{{path('verEgresados')}}"><button class="btn perfil-btn-light" ><i class="fas fa-graduation-cap" ></i></button>Titulaciones</a>
                    </li>

                    {# Graduados #}
                    <li id="menuDocumento" class="nav-item perfil-p mt-2">
                        <a class="nav-link " href="{{path('verGraduados')}}"><button class="btn perfil-btn-light" ><i class="fas fa-graduation-cap" ></i></button>Graduados</a>
                    </li>
                    
                    {# Datos académicos #}
                    <li id="menuDocumento" class="nav-item perfil-p mt-2">
                        <a class="nav-link" href="{{path('datosAcademicos')}}"><button class="btn perfil-btn-light" ><i class="fas fa-user-graduate"></i></button>Datos académicos</a>
                    </li>
                    {% endif %}

                    {% if is_granted('ROLE_SUPERADMIN') %}
                    {# Roles #}
                    <li id="menuDocumento" class="nav-item perfil-p mt-2">
                        <a class="nav-link" href="{{path('roles')}}"><button class="btn perfil-btn-light" ><i class="fas fa-user"></i></button>Rol de usuarios</a>
                    </li>
                    {% endif %}
                  

                    {# Rol debajo de todo #}
                    {# {% set roles = app.user.roles %} #}
                    {# <li class="nav-item perfil-rol">
                        <h6>{{roles|last|slice(5,10)}}</h6>
                    </li> #}

                </ul>  
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link" aria-haspopup="true" aria-expanded="false"  data-toggle="dropdown" href="#"><button class="btn perfil-btn-tomato"><i class="fas fa-user"></i></button></a>

                        <div class="dropdown-menu pers-drop-down" aria-labelledby="navbarDropdownMenuLink">
                            {# Parte del perfil #}
                            <div class="container-fluid user-perfil" style = "padding: 5px;">

                                <div class="media">
                                    {# Imágen de unraf con border radius #}
                                    <img class="perfil-img" src="{{asset('img/iconoUnraf.png')}}" style = "padding: 1px;"></img>
                                    {# email #}
                                    <p class="perfil-email text-secondary">{{ app.user.email|replace({'@unraf.edu.ar': ''})}}</p>
                                </div>
                                <p style="font-size: 10px;" class="text-secondary text-right mt-1">ROL: {{app.user.roles|last|slice(5,10)}}</p>
                                <hr>
                                <div class = "text-center">
                                    <a class="user-link" style = "font-size: 18px;" href="{{path('backIntranet')}}"><i class="fas fa-hand-point-left"></i> Intranet</a>
                                </div>
                                
                            </div>
                        </div>
                    </li>
                </ul>
                
                  {# <a class="nav-link itemMenu" style="color:grey;" href="#"> 
                            Perfil: {{rolPrincipal|slice(5,rolPrincipal|length)|capitalize}}</a>
                            <a style="background-color:#0F9FA8;color:white;" class="nav-link" href="#">
                            <img src="#" class="svg" width="18" alt="P">Volver a intranet</a> #}
            </div>
        </nav>
    </div>
        {% for message in app.flashes('correcto') %}
                <div id="notificacion" class="container alert alert-success mt-3 wobble-vertical">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div id="notificacion" class="container alert alert-danger mt-3 wobble-vertical">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('warning') %}
                <div id="notificacion" class="container alert alert-warning mt-3 wobble-vertical">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message }}
                </div>
        {% endfor %}
                
        
    {% endif %}   
    {% endblock %}
        {% block javascripts %} 
            <script src="https://intranet.unraf.edu.ar/RegistroDigital/public/pdfThumbnails/pdfThumbnails.js" data-pdfjs-src="https://intranet.unraf.edu.ar/RegistroDigital/public/pdfThumbnails/pdf.js/build/pdf.js"></script>
            <script
                src="https://code.jquery.com/jquery-3.5.1.min.js"
                integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
                crossorigin="anonymous"></script> 
            <script src="{{ asset("js/accionesDinamicas.js") }}"></script>
            <script src= "{{asset('js/accionesQuery.js')}}"></script>
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.2/moment.min.js"></script>
            <script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" data-search-pseudo-elements></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
          
        {% endblock %}
        
    </body>
</html>
